<h1 class="text-center">Conditions</h1>
<%= search_form_for @q, url: conditions_path, html: { method: :get, class: "form-inline form-main-search", id: "ajax_search"} do |f| %>
	<div class="form-group">
		<%= f.search_field :name_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "incread-width btn btn-primary"%>
	</div>
	<% if current_user.admin? %>
	  <%= link_to 'New Condition', new_condition_path, class: "btn btn-success top-index-btn" %>
	<% end %>
  	<div id="ajax_objects" ><%= render 'conditions' %></div>
<% end %>
<% if current_user.admin? %>
  <%= link_to 'New Condition', new_condition_path, class: "btn btn-success" %>
<% end %>
