<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort]%>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "shipping_date" %></th>
        <th><%= sortable "arrival_date" %></th>
        <th><%= sortable "destination_id", "Destination" %></th>
        <th><%= sortable "origin_id", "Origin" %></th>
        <th><%= sortable "delivery_method" %></th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @movements.each do |movement| %>
        <tr>
        <td><% unless movement.shipping_date.nil? %>
            <%= movement.shipping_date.strftime("%B %e, %Y") %>
          <% end%></td>
          <td><% unless movement.arrival_date.nil? %>
            <%= movement.arrival_date.strftime("%B %e, %Y") %>
          <% end %></td>
          <td><%= movement.destination.present? ? movement.destination.name_with_country : "" %></td>
          <td><%= movement.origin.present? ? movement.origin.name_with_country : "" %></td>
          <td><%= movement.delivery_method %></td>
          <td><%= link_to 'Show', movement %>
          <% if current_user.admin? %>
            | <%= link_to "Boxes", movement_boxes_movement_path(movement) %>
            | <%= link_to 'Edit', edit_movement_path(movement) %>
            | <%= link_to 'Delete', movement, method: :delete %>
            <% unless movement.is_return %>
            | <%= link_to 'Generate Return', return_movement_path(movement) %>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>