<h1 class="text-center">Movements</h1>
<%= search_form_for @q, url: movements_path, html: { method: :get, class: "form-inline form-main-search", id: "ajax_search"} do |f| %>
	<div class="form-group">
		<%= f.search_field :origin_name_or_origin_country_or_destination_name_or_destination_country_or_delivery_method_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "btn btn-primary"%>
	</div>
  <div id="ajax_objects" ><%= render 'movements' %></div>
<% end %>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Movement', new_movement_path, class: "btn btn-success" %>
<% end %>
