<div class="center-div">
<div>
	<strong>Destination:</strong>
	<%= @movement.destination %>
</div>
<div>
	<strong>Origin:</strong>
	<%= @movement.origin %>
</div>
<div>
	<strong>Shipping Date:</strong>
	<%= @movement.shipping_date %>
</div>
<div>
	<strong>Arrival Date:</strong>
	<%= @movement.arrival_date %>
</div>
<div>
	<strong>Delivery Method:</strong>
	<%= @movement.delivery_method %>
</div>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_movement_path(@movement) %> |
<% end %>
<%= link_to 'Back', movements_path %>
</div>