<%= form_for @software_serial, html: { class: "form-horizontal"}, validate: :software_serial_validators do |f| %>
  <div class="form-group">
    <label class="control-label">Software</label>
    <%= collection_select(:software_serial, :software_id, Software.all, :id, :name, { prompt: "Please select a Software"},{ class: 'form-control'} ) %>
  </div>
  <div class="form-group">
    <label class="control-label">Serial Number</label>
    <%= f.text_field :serial_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="control-label">Operative System</label>
    <%= f.text_field :operative_system, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="control-label">Software Availability</label>
    <%= f.text_field :software_availability, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="control-label">Price $ (Optional)</label>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <%= f.submit class: "btn btn-success fullwidthbutton" %>
  <%= link_to "Back", software_serials_path, class: "btn btn-warning fullwidthbutton" %>
<% end %>
