<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort]%>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "software_id", "Software" %></th>
        <th><%= sortable "item_id", "Item" %></th>
        <th><%= sortable "serial_number"%></th>
        <th><%= sortable "operative_system" %></th>
        <th><%= sortable "price" %></th>
        <th><%= sortable "created_at", "Creation date" %></th>
        <th><%= sortable "updated_at", "Last updated"%></th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @software_serials.each do |software_serial| %>
        <tr>
          <td><% unless software_serial.software.nil? %>
            <%= software_serial.software.name %>
          <% end%></td>
          <td><% unless software_serial.item.nil? %>
            <%= software_serial.item.product.name_with_brand %> (<%= software_serial.item.barcode %>)
          <% end %></td>
          <td><%= software_serial.serial_number %></td>
          <td><%= software_serial.operative_system %></td>
          <td><%= number_to_currency(software_serial.price) %></td>

          <td><%= local_time_ago(software_serial.created_at) %></td>
          <td><%= local_time_ago(software_serial.updated_at) %></td>
          <td><%= link_to 'Show', software_serial %> |
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_software_serial_path(software_serial) %> |
          <%= link_to 'Destroy', software_serial, method: :delete %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>