<h1 class="text-center">Software Serials</h1>
<%= search_form_for @q, url: software_serials_path(page: 1), html: { method: :get, class: "form-inline form-main-search", id: "ajax_search"} do |f| %>
	<div class="form-group">
		<%= f.search_field :software_name_or_serial_number_or_operative_system_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "btn btn-primary"%>
	</div>
	<% if current_user.admin? %>
	  <%= link_to 'Add Software Serial', new_software_serial_path, class: "btn btn-success top-index-btn" %>
	<% end %>
  <div id="ajax_objects" ><%= render 'software_serials' %></div>
<% end %>
<% if current_user.admin? %>
  <%= link_to 'Add Software Serial', new_software_serial_path, class: "btn btn-success" %>
<% end %>
