<h1 class="text-center">Software Serials</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Software</th>
        <th>Serial Number</th>
        <th>Operative System</th>
        <th>Software Availability</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @software_serials.each do |software_serial| %>
        <tr>
          <td><% unless software_serial.software.nil? %>
            <%= software_serial.software.name %>
          <% end%></td>
          <td><%= software_serial.serial_number %></td>
          <td><%= software_serial.operative_system %></td>
          <td><%= software_serial.software_availability %></td>
          <td><%= number_to_currency(software_serial.price) %></td>
          <td><%= link_to 'Show', software_serial %> |
          <%= link_to 'Edit', edit_software_serial_path(software_serial) %> |
          <%= link_to 'Destroy', software_serial, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Software serial', new_software_serial_path, class: "btn btn-success" %>
