<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort]%>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "barcode" %></th>
        <th><%= sortable "box_number", "Box Number" %></th>
        <th>Thumbnail</th>
        <th><%= sortable "location_id", "Location" %></th>
        <th><%= sortable "description" %></th>
        <th><%= sortable "weight" %></th>
        <th><%= sortable "height" %></th>
        <th><%= sortable "width" %></th>
        <th><%= sortable "depth" %></th>
        <th><%= sortable "condition_id", "Condition" %></th>
        <th><%= sortable "updated_at", "Last updated"%></th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @boxes.each do |box| %>
        <tr>
          <td><%= box.barcode %></td>
          <td><%= box.box_number %></td>
          <td><%= box_thumbnail_for box %></td>
          <td><% unless box.location.nil?%>
            <%= box.location.name_with_country %>
            <% end %></td>
          <td><%= box.description %></td>
          <td><%= box.weight %></td>
          <td><%= box.height %></td>
          <td><%= box.width %></td>
          <td><%= box.depth %></td>
          <td><% unless box.condition.nil?%>
            <%= box.condition.name %>
            <% end %></td>
          <td><%= local_time_ago(box.updated_at) %></td>
          <td><%= link_to 'Show', box_path(box) %> 
          <% if current_user.admin? %>
            | <%= link_to 'Items', box_items_box_path(box) %>
            | <%= link_to 'Edit', edit_box_path(box) %> |
            <%= link_to 'Delete', box, method: :delete %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @boxes, renderer: BootstrapPagination::Rails %>