<%= form_for(@box) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p>
      <%= f.label :barcode %>
      <%= f.text_field :barcode %>
    </p>
    <p>
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </p>
    <p>
      <%= f.label :height %>
      <%= f.text_field :height %>

    </p>
    <p>
      <%= f.label :width %>
      <%= f.text_field :width %>
    </p>
    <p>
      <%= f.label :depth %>
      <%= f.text_field :depth %>
    </p>
    <p>
      <%= f.label :box_number %>
      <%= f.text_field :box_number %>
    </p>
    <p>
      <%= f.label :photo %>
      <%= f.text_field :photo %>
    </p>
    <p>
      <%= f.label :condition %>
      <%= f.text_field :condition %>
    </p>
    <p>
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
