<%= form_for @box, html: { class: "form-horizontal"}, validate: :box_validators do |f| %>

    <div class="form-group">
      <label class="control-label">Barcode</label>
      <%= f.text_field :barcode, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Box #</label>
      <%= f.text_field :box_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Weight (lb)</label>
      <%= f.text_field :weight, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Height (in)</label>
      <%= f.text_field :height, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Width (in)</label>
      <%= f.text_field :width, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Depth (in)</label>
      <%= f.text_field :depth, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Picture</label>
      <%= f.file_field :photo, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Condition</label>
      <%= f.text_field :condition, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">Additional notes</label>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>

    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Back', boxes_path, class: "btn btn-warning fullwidthbutton" %>

<% end %>
