<h1 class="text-center">Boxes</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "barcode" %></th>
        <th><%= sortable "box_number", "Box #" %></th>
        <th><%= sortable "weight" %></th>
        <th><%= sortable "height" %></th>
        <th><%= sortable "width" %></th>
        <th><%= sortable "depth" %></th>
        <th><%= sortable "condition" %></th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @boxes.each do |box| %>
        <tr>
          <td><%= box.barcode %></td>
          <td><%= box.box_number %></td>
          <td><%= box.weight %></td>
          <td><%= box.height %></td>
          <td><%= box.width %></td>
          <td><%= box.depth %></td>
          <td><%= box.condition %></td>

          <td><%= link_to 'Show', box %> |
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_box_path(box) %> |
            <%= link_to 'Delete', box, method: :delete %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if current_user.admin? %>
  <%= link_to "Add Box", new_box_path ,class: "btn btn-success" %>
<% end %>
