<h1 class="text-center">Box #<%= @box.box_number %> (<%= @box.barcode %>)</h1>
<div class="center-div">
	<div class="thumbnail">
		<%= box_image_for @box %>
		</br>
        <div class="caption-full">
	        <% unless @box.height.nil? && @box.width.nil? && @box.depth.nil? %>
	        	<h4 class="pull-right"><%= @box.height %> x <%= @box.width %> x <%= @box.depth %></h4>
	        <% end %>	
	        <% unless @box.location.nil? %>
	        	<p><b>Location:</b> <%= @box.location.name_with_country %></p>
	        <% end %>
	        <% unless @box.weight.nil? %>
	        	<p><b>Weight:</b> <%= @box.weight %> lbs</p>
	        <% end %>
	        <% unless @box.condition.nil? || @box.condition.empty? %>
	        	<p><b>Condition:</b> <%= @box.condition %></p>
	        <% end %>
	        <% unless @box.notes.nil? || @box.notes.empty? %>
	        	<p><b>Additional Notes:</b> <%= @box.notes %></p>
	        <% end %>
        </div>
	</div>
        
	<% if current_user.admin? %>
		<%= link_to 'Edit', edit_box_path(@box) , class: "btn btn-warning" %> |
	<% end %>
	<%= link_to 'Back', boxes_path %>
</div>