<div class="center-div">
	<div class="thumbnail">
		<%= box_image_for @box %>
        <div class="caption-full">
	        <% unless @box.height.nil? && @box.width.nil? && @box.depth.nil? %>
	        	<h4 class="pull-right"><%= @box.height %>in x <%= @box.width %>in x <%= @box.depth %>in</h4>
	        <% end %>	
	        <h4>Box #<%= @box.box_number %>
	        </h4>
	        <h3><%= @box.barcode %></h3>
	        <% unless @box.weight.nil? || @box.weight.empty? %>
	        	<p>Weight: <%= @box.weight %></p>
	        <% end %>
	        <% unless @box.condition.nil? || @box.condition.empty? %>
	        	<p>Condition: <%= @box.condition %></p>
	        <% end %>
	        <% unless @box.notes.nil? || @box.notes.empty? %>
	        	<p><%= @box.notes %></p>
	        <% end %>
        </div>
        </div>
	<% if current_user.admin? %>
		<%= link_to 'Edit', edit_box_path(@box) %> |
	<% end %>
	<%= link_to 'Back', boxes_path %>
</div>