<div class="center-div">
	<div>
		<strong>Barcode:</strong>
		<%= @box.barcode %>
	</div>
	<div>
		<strong>Weight:</strong>
		<%= @box.weight %>
	</div>
	<div>
		<strong>Height:</strong>
		<%= @box.height %>
	</div>
	<div>
		<strong>Width:</strong>
		<%= @box.width %>
	</div>
	<div>
		<strong>Depth:</strong>
		<%= @box.depth %>
	</div>
	<div>
		<strong>Box #:</strong>
		<%= @box.box_number %>
	</div>
	<div>
		<strong>Photo:</strong>
		<%= @box.photo %>
	</div>
	<div>
		<strong>Condition:</strong>
		<%= @box.condition %>
	</div>
	<div>
		<strong>Notes:</strong>
		<%= @box.notes %>
	</div>
	<%= link_to 'Edit', edit_box_path(@box) %> |
	<%= link_to 'Back', boxes_path %>

</div>
