<h1 class="text-center">Embeded Code for <%= @university.acronym %> at <%= @event.name %></h1>

<h3 class="text-center info-title">Click in the download button to get the code in a .txt file</h3>
<pre name="code" class="highlighter " >
  <%= @events_university.code %>
</pre>
<div class="center-div">
  <a href="data:application/octet-stream," target="_blank" download="<%= @event.short_url%> - <%= @university.acronym %>.txt" class="btn fullwidthbutton top-index-btn btn-success show-code-link" type="hidden" style="display:none;"><span class="fa fa-download"></span> Download</a>
  <%= link_to 'Back', @event, class: "btn btn-warning fullwidthbutton" %>
</div>
