<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort]%>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
        <th><%= sortable "description" %></th>
        <th><%= sortable "created_at", "Creation date" %></th>
        <th><%= sortable "updated_at", "Last updated"%></th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @softwares.each do |software| %>
        <tr>
          <td><%= software.name %></td>
          <td><%= software.description %></td>
          <td><%= local_time_ago(software.created_at) %></td>
          <td><%= local_time_ago(software.updated_at) %></td>
          <td><%= link_to 'Show', software %> |
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_software_path(software) %> |
            <%= link_to 'Delete', software, method: :delete %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
