<h1 class="text-center">Software</h1>
<%= search_form_for @q, url: softwares_path, html: { method: :get, class: "form-inline form-main-search", id: "ajax_search" } do |f| %>
	<div class="form-group">
		<%= f.search_field :name_or_description_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "btn btn-primary" %>
	</div>
  <div id="ajax_objects" ><%= render 'softwares' %></div>
<% end %>

<br>

<% if current_user.admin? %>
  <%= link_to 'Add Software', new_software_path, class: "btn btn-success" %>
<% end %>


