<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort]%>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "barcode" %></th>
        <th><%= sortable "product_id", "Product" %></th>
        <th><%= sortable "box_id", "Box"%></th>
        <th><%= sortable "location_id", "Location" %></th>
        <th><%= sortable "serial_number" %></th>
        <th><%= sortable "model_number" %></th>
        <th><%= sortable "price" %></th>
        <th><%= sortable "condition_id", "Condition" %></th>
        <th><%= sortable "firmware" %></th>
        <th><%= sortable "created_at", "Creation date" %></th>
        <th><%= sortable "updated_at", "Last updated"%></th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.barcode %></td>
          <td><%= item.product.name_with_brand %></td>
          <td><% unless item.box.nil? %>
            <%= item.box.box_number %>
          <% end %></td>
          <td><% unless item.location.nil? %>
            <%= item.location.name_with_country %>
            <% end %></td>
          <td><%= item.serial_number %></td>
          <td><%= item.model_number %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><% unless item.condition.nil? %>
            <%= item.condition.name %>
            <% end %></td>
          <td><%= item.firmware %></td>
          <td><%= local_time_ago(item.created_at) %></td>
          <td><%= local_time_ago(item.updated_at) %></td>
          <td><%= link_to 'Show', item %> |
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_item_path(item) %> |
            <%= link_to 'Delete', item, method: :delete %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>