
<p>
	<strong>Product name:</strong>
	<%= @item.product.name %>
</p>
<p>
	<strong>Barcode:</strong>
	<%= @item.barcode %>
</p>
<p>
	<strong>Serial Number:</strong>
	<%= @item.serial_number%>
</p>
<p>
	<strong>Model Number:</strong>
	<%= @item.model_number %>
</p>
<p>
	<strong>Price:</strong>
	<%= @item.price %>
</p>
<p>
	<strong>Location:</strong>
	<%= @item.location %>
</p>
<p>
	<strong>Condition:</strong>
	<%= @item.condition %>
</p>
<p>
	<strong>Firmware:</strong>
	<%= @item.firmware%>
</p>
<p>
	<strong>Photo:</strong>
	<%= image_for @item %>
</p>
<p>
	<strong>Responsable:</strong>
	<%= @item.responsable %>
</p>
<p>
	<strong>Box:</strong>
	<% unless @item.box.nil? %>
			<%= @item.box.barcode %>
		<% end %>
	
</p>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
