<div class="center-div">
	<div class="thumbnail">
		<%= image_for @item %>
        <div class="caption-full">
	        <h3><%= @item.barcode %></h3>

	        <h4><% unless @item.box.nil? %>
				Box #<%= @item.box.box_number %> (<%= @item.box.barcode %>)
			<% end %></h4>

	        <% unless @item.product.nil? %>
		        <p>
					<strong>Product:</strong>
					<%= @item.product.name_with_brand %>
				</p>
			<% end %>
			<% unless @item.location.nil?  %>
				<p>
					<strong>Location:</strong>
					<%= @item.location.name_with_country %>
				</p>
			<% end %>


			<% unless @item.serial_number.nil? %>
				<p>
					<strong>Serial Number:</strong>
					<%= @item.serial_number%>
				</p>
			<% end %>

			<% unless @item.model_number.nil? %>
				<p>
					<strong>Model Number:</strong>
					<%= @item.model_number %>
				</p>
			<% end %>

			<% unless @item.price.nil? %>
				<p>
					<strong>Price:</strong>
					<%= @item.price %>
				</p>
			<% end %>

			<% unless @item.conditions.empty? %>
				<p>
					<strong>Condition:</strong> <%= @item.conditions.map{ |e| e.name }.join(", ") %>
				</p>
			<% end %>


			<% unless @item.firmware.nil?%>
				<p>
					<strong>Firmware:</strong>
					<%= @item.firmware%>
				</p>
			<% end %>

			<% unless @item.responsable.nil? %>
				<p>
					<strong>Responsable:</strong>
					<%= @item.responsable %>
				</p>
			<% end %>

			<% if @item.notes.present? %>
				<p>
					<strong>Additional notes:</strong>
					<%= @item.notes %>
				</p>
			<% end %>
        </div>
    </div>

	<% if current_user.admin? %>
		<%= link_to 'Edit', edit_item_path(@item) , class: "btn btn-warning" %> |
	<% end %>
	<%= link_to 'Back', :back %>
</div>
