<div class="center-div">
	<div class="thumbnail">
		<%= image_for @item %>
        <div class="caption-full">
	        <h3><%= @item.barcode %></h3>

	        <h4><% unless @item.box.nil? %>
				Box #<%= @item.box.box_number %> (<%= @item.box.barcode %>)
			<% end %></h4>

	        <% unless @item.product.name.nil? %>
		        <p>
					<strong>Product:</strong>
					<%= @item.product.name %>
				</p>
			<% end %>

			<% unless @item.serial_number.nil? || @item.serial_number.empty? %>
				<p>
					<strong>Serial Number:</strong>
					<%= @item.serial_number%>
				</p>
			<% end %>

			<% unless @item.model_number.nil? || @item.model_number.empty? %>
				<p>
					<strong>Model Number:</strong>
					<%= @item.model_number %>
				</p>
			<% end %>

			<% unless @item.price.nil? || @item.price.empty? %>
				<p>
					<strong>Price:</strong>
					<%= @item.price %>
				</p>
			<% end %>

			<% unless @item.location.nil? || @item.location.empty? %>
				<p>
					<strong>Location:</strong>
					<%= @item.location %>
				</p>
			<% end %>

			<% unless @item.condition.nil? || @item.condition.empty? %>
				<p>
					<strong>Condition:</strong>
					<%= @item.condition %>
				</p>
			<% end %>

			<% unless @item.firmware.nil? || @item.firmware.empty? %>
				<p>
					<strong>Firmware:</strong>
					<%= @item.firmware%>
				</p>
			<% end %>

			<% unless @item.responsable.nil? || @item.responsable.empty? %>
				<p>
					<strong>Responsable:</strong>
					<%= @item.responsable %>
				</p>
			<% end %>
        </div>
    </div>

	<% if current_user.admin? %>
		<%= link_to 'Edit', edit_item_path(@item) , class: "btn btn-warning" %> |
	<% end %>
	<%= link_to 'Back', items_path %>
</div>