<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @university_contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @university_contact.email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @university_contact.skype %>
</p>

<p>
  <strong>Role:</strong>
  <%= @university_contact.role %>
</p>

<%= link_to 'Edit', edit_university_contact_path(@university_contact) %> |
<%= link_to 'Back', university_contacts_path %>
