<%= form_for @embed_code, html: { class: "form-horizontal"}, validate: :embed_code_validators do |f| %>
  <div class="form-group">
    <label class="control-label">Name</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="control-label">Embed Code</label>
    <%= f.text_area :code, class: "form-control", rows: 15 %>
  </div>
  <h3 class="text-center">Embed Code Variables</h3>
  <%= f.fields_for :embed_code_variables, html: { class: "form-horizontal"}, validate: :embed_code_variable_validators do |ff| %>
    <%= render "embed_code_variable_fields", f: ff %>

  <% end %>
  <a class="btn btn-primary fullwidthbutton add-variable">Add Variable</a>
  <%= f.submit class: "btn btn-success fullwidthbutton" %>
  <%= link_to "Back", embed_codes_path, class: "btn btn-warning fullwidthbutton" %>
<% end %>
