<h1 class="text-center">Embed Codes</h1>

<%= search_form_for @q, url: embed_codes_path(page: 1), html: { method: :get, class: "form-inline form-main-search", id: "ajax_search"} do |f| %>
	<div class="form-group">
		<%= f.search_field :name_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "incread-width btn btn-primary"%>
	</div>
	<% if current_user.admin? %>
		<%= link_to 'Add Embed Code', new_embed_code_path, class: "top-index-btn btn btn-success" %>
			<% end %>
  	<div id="ajax_objects" ><%= render 'embed_codes' %></div>
<% end %>
<% if current_user.admin? %>
  <%= link_to 'Add Event', new_embed_code_path, class: "btn btn-success" %>
<% end %>
