<h1 class="text-center">Categories</h1>
<%= search_form_for @q, url: categories_path, html: { method: :get, class: "form-inline form-main-search", id: "ajax_search"} do |f| %>
	<div class="form-group">
		<%= f.search_field :name_or_description_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "incread-width btn btn-primary"%>
	</div>
  	<div id="ajax_objects" ><%= render 'categories' %></div>
<% end %>
<br>
<% if current_user.admin? %>
  <%= link_to 'Add Category', new_category_path, class: "btn btn-success"%>
<% end %>
