<h1 class="text-center">Locations</h1>
<%= search_form_for @q, url: locations_path, html: { method: :get, class: "form-inline form-main-search", id: "ajax_search"} do |f| %>
	<div class="form-group">
		<%= f.search_field :name_or_country_cont, class: "form-control" %>
		<%= f.submit "Search", :name => nil, class: "btn btn-primary"%>
	</div>
	<% if current_user.admin? %>
	  <%= link_to 'New Location', new_location_path, class: "top-index-btn btn btn-success" %>
	<% end %>
	<div id="ajax_objects" ><%= render 'locations' %></div>
<% end %>
<% if current_user.admin? %>
  <%= link_to 'New Location', new_location_path, class: "btn btn-success" %>
<% end %>
